* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


nav {
    float: left;
    width: 30%;
    height: 1285px;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: darkgrey;
    height: 1285px;
}


section::after {
    content: "";
    display: table;
    clear: both;
}



@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.practice {
    width: 100%;
}

.left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%;
    text-align: center;
}

.main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 60%;
    text-align: center;
}

.right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 20%;
    text-align: center;
}

footer {
    background-color: #777;
    padding: 8px;
    text-align: center;
    color: white;
    margin-top: 90px;
}